.center{
    display: flex;
    justify-content: center;
}



body{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);

}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
h1{
    padding: 20px;
    color:rgb(112, 110, 110);
    font-family: 'Oswald', sans-serif;
}

input{
    padding:20px;
    border-radius: 20px;
}

.gif{
    height: auto;
    width: 500px;
    padding: 10px;
    margin-left: 5%;
}


/*Buttons*/
button{
    margin: 10px;
    border-radius: 15px;
    padding: 20px;
}
button:hover{
    cursor: pointer;
}

#removeBtn{
    background-color: rgb(218, 116, 49);
    color: white;
}
#removeBtn:hover{
    background-color: rgb(235, 98, 6);
    transition: 1s;

}